html, body {
	padding: 0;
	margin: 0;
}

body { 
	/*background: #EDF4FF -moz-linear-gradient(top, #4C92FF, #EDF4FF) no-repeat; 
	background: #EDF4FF -webkit-linear-gradient(top, #4C92FF, #EDF4FF) no-repeat; */
}

#container {
	width: 960px;
	margin: 0 auto;
}

#login {
	border: none;
	float: right;
	width: 190px;
	margin: 0px;
}

#login h4 {
	color: grey;
	margin: 0px;
	margin-top: 5px;
	margin-left: 10px;
}

#login div {
	color: grey;
	margin: 0px;
	width:180px;
}

#login input.text, #login input.pass, #login input.submit {
	float: left;
}

#login input.text, #login input.pass {
	padding: 5px;
	padding-bottom: 4px;
	border: 1px #3E3E40 solid;
	border-right: none;
	background: #FAFAFA
}

#login input.text {
	border-radius:5px 5px 0px 0px;
	width:170px;
}

#login input.pass {
	border-radius:0px 0px 0px 5px;
	width:140px;
}

#login input.submit {
	width:30px;
	padding:4px;
	padding-bottom:3px;
	border:1px #3E3E40 solid;
	background:-moz-linear-gradient(top, #997E02, #E5BC00);
	background:-webkit-linear-gradient(top, #FAFAFA, #D0D0DA);
	border-radius:0px 0px 5px 0px;
	-moz-box-shadow:inset 0px 0px 1px #473B01;
    -webkit-box-shadow:inset 0px 0px 2px #473B01;
    box-shadow:inset 0px 0px 2px #473B01;
}

#login input.submit:hover {
	background: #E3BD00;
	-moz-box-shadow:inset 0px 0px 1px #000;  
    -webkit-box-shadow:inset 0px 0px 2px #000;  
    box-shadow:inset 0px 0px 2px #000;
}

#header {
	width: 920px;
	margin: 0 auto;
	height: 120px;
	background: black;
	border: 1px #000712 solid;
	border-bottom: none;
}

#header img {
	float:left;
}


/* MENU */
#menu {
	width:960px;
}

#nav {
	clear: right;
	list-style: none;
	width: 900px;
	height: 43px;
	margin: 0 auto;
	padding: 0 20px;
	
	border-radius: 10px;
	background: #00245C -moz-linear-gradient(top, #0064FF, #00245C);
	background: #00245C -webkit-linear-gradient(top, #0064FF, #00245C);
	-moz-box-shadow:inset 0px 0px 1px #EDF4FF;  
    -webkit-box-shadow:inset 0px 0px 1px #EDF4FF;  
    box-shadow:inset 0px 0px 1px #EDF4FF;
	border: 1px #000712 solid;
}

#nav li {
	float: left;
	display: block;
	text-align: center;
	position: relative;
	padding: 4px 10px;
	margin-right: 25px;
	margin-top: 7px;
	border: none;
}

#nav li:hover {
	border: 1px #3E3E40 solid;
	padding: 4px 9px;
	background: -moz-linear-gradient(top, #FFF, #FAFAFA);
	background: -webkit-linear-gradient(top, #FFF, #FAFAFA);
	border-radius: 5px 5px 0px 0px;
}

#nav li.single {
	border-radius: 5px;
}

#nav li a {
	color: #EDF4FF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-shadow: 1px 1px 1px #000;
	display: block;
	outline: 0;
	text-decoration: none;
}

#nav li:hover a {  
	color:#161616;  
	text-shadow: 1px 1px 1px #FFFFFF;  
}

#nav li .drop {
	padding-right: 21px;
	background: url("images/drop.png") no-repeat right 8px;
}

#nav li:hover .drop {
	background: url("images/drop.png") no-repeat right 7px;
}

#nav .dropdown {
	position: absolute;
	left:-999em;
	margin: 4px auto;
	text-align: left;
	padding: 10px 5px;
	width: 220px;
	
	border: 1px #3E3E40 solid;
	border-top: none;
	background: -moz-linear-gradient(top, #FAFAFA, #D0D0DA);
	background: -webkit-linear-gradient(top, #FAFAFA, #D0D0DA);
    border-radius: 0px 5px 5px 5px;  
}

#nav li:hover .dropdown {
	left: -1px;
	top: auto;
}

.dropdown a {
	display: block;
	width: 200px;
	height: 30px;
	padding: 10px 10px 15px 10px;
	margin-right: 10px;
	margin-left: 10px;
}

.dropdown a:hover {
	background: #FFF;
	border: 1px grey solid;
	border-radius: 5px;
	width: 178px;
	height: 28px;
	padding: 9px 11px 16px 9px;
}

.dropdown a font {
	color: blue;
	font-size: 12px;
	margin: 0px;
	padding: 0px;
}


/* CONTENT */
#page {
	width:960px;
}

#content {
	width: 880px;
	margin: 0px auto;
	padding: 20px;

	border: 1px #000712 solid;
	border-top: none;
	border-bottom: none;
	background: -moz-linear-gradient(top, #FAFAFA, #D0D0DA);
	background: -webkit-linear-gradient(top, #FAFAFA, #D0D0DA);
	
}

#footer {
	width: 920px;
	margin: 0px auto;
	text-align: center;
	border: 1px #000712 solid;
	height: 25px;
	
	background: grey;
	-moz-box-shadow:inset 0px 0px 1px #EDF4FF;  
    -webkit-box-shadow:inset 0px 0px 1px #EDF4FF;  
    box-shadow:inset 0px 0px 1px #EDF4FF;
	border-radius: 0px 0px 10px 10px;
}

#footer p {
	margin: 0px;
	margin-top: 5px;
	padding: 0px;
	font-size: 12px;
	font-variant: small-caps;
}