/* 
    Document   : style
    Created on : 10-sep-2011, 21:25:12
    Author     : Joep
    Description:
       CSS ontwerp van eventplaza ZOEN
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body {
    background-color: #E4F0F2;
    display:block;
    font-family: Calibri, Arial;
}

#hoofd { /*De header*/
    background-image: -webkit-gradient( /*Gradient gegenereerd op gradients.glrzad.com*/
        linear,
        left bottom,
        left top,
        color-stop(0, #E4F0F2),
        color-stop(1, #85CBD6)
    );
    background-image: -moz-linear-gradient(
        center bottom,
        #E4F0F2 0%,
        #85CBD6 100%
    );
    position: absolute;
        top: 0;
        left: 0;
        right: 0;
    height: 135px;
}

#hoofdplaatje {
    position: absolute;
        left: 50%;
        margin-left: -199px;
}

#midden { /*Het belangerijkste deel van de pagina*/
    background-color: #CCE0E4;
    position: absolute;
        top: 0;
        margin-top: 135px;
        left: 50%;
        margin-left: -350px;
        right: 0;
        bottom: 50px;
    width: 680px;
    border: double #74A4AB 2px;
    -moz-border-radius: 5px;
}

#middentekst {
    position: absolute;
       top: 0px;
       bottom: 65px;
    padding-left: 25px;
    padding-right: 25px;
}

