#menu {
    font-family: Calibri, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    width: 11.7em; /*grootte blauwe vak*/
    border-right: 2px solid #400000;
    border-left: 2px solid #400000;
    border-bottom: 2px solid #400000;
    border-top: 2px solid #400000;
    padding: 0;
    margin-bottom: 1em;
    margin-top: 1em;
    background-color: #000000;
    color: #FF0000;
}

#menu ul { /* remove bullets and list indents */
list-style: none;
margin: 0;
padding: 0;
}

/* style, color and size links and headings to suit */
#menu a, #menu h2 {
font: bold 11px/16px arial, helvetica, sans-serif;
display: block;
border-width: 2px;
border-style: solid;
border-left: 10px solid #400000; /*het blauwe kleine blokje*/
border-right: 1px solid #400000; /*het rechtse blauw nog kleiner hokje*/
border-bottom: 1px solid #400000; /*het onderste blauwe lijntje*/
border-top: 1px solid #400000; /*het bovenste blauwe lijntje*/
margin: 0;
padding: 2px 3px;
}

#menu a {
color: #FFFFFF;
background: #000000;
text-decoration: none;
}

#menu a:hover {
    border-left: 10px solid #000000; /*de achtergrond van het kleine blokje links*/
    border-right: 1px solid #000000; /*het rechte lijntje*/
    border-bottom: 1px solid #000000; /*het onderste lijntje*/
    border-top: 1px solid #000000; /*het bovenste lijntje*/
    background-color: #400000; /*de achtergrond van het grote blok*/
    color: #fff; /*de tekst van het menu*/
}
#menu li {
/* make the list elements a containing block for the nested lists */
position: relative;
} 

#menu ul ul ul {
position: absolute;
top: 0;
left: 100%; /* to position them to the right of their containing block */
width: 100%; /* width is based on the containing block */
}
div#menu ul ul ul,
div#menu ul ul li:hover ul ul
{display: none;}

div#menu ul ul li:hover ul,
div#menu ul ul ul li:hover ul
{display: block;}

<!--[if IE]>
<style type="text/css" media="screen">

body  {
behavior: url(csshover.htc); /* call hover behaviour file */
font-size: 100%; /* enable IE to resize em fonts */
} 
#menu ul li {
float: left; /* cure IE5.x "whitespace in lists" problem */
width: 100%;
}
#menu ul li a {
height: 4%; /* make links honour display: block; properly */
} 

#menu a, #menu h2 {
font: bold 0.7em/1.4em Calibri, helvetica, sans-serif; 
/* if required use em's for IE as it won't resize pixels */
} 
</style>
<![endif]-->
